@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'AfacadFlux';
    src: url('/fonts/AfacadFlux-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('/fonts/AfacadFlux-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('/fonts/AfacadFlux-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('/fonts/AfacadFlux-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('/fonts/AfacadFlux-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('/fonts/AfacadFlux-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('/fonts/AfacadFlux-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('/fonts/AfacadFlux-Extra.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('/fonts/AfacadFlux-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}